<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseName" value="TestDB"/>
    <add key="DatabaseHostname" value="http://localhost:8080"/>
    <add key="ControllerServicePort" value="8090"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>